# 1.Manipulate using a list
i)to add new elements to the end of the list
ii)to reverse elements in the list
iii)to display the same list of elements multiple times
iv)to sort the elements in the list in ascending order.

In [ ]:
my_list = [1, 2, 3, 4, 5]

In [16]:
#i)
my_list.append(6)
my_list.append(11)
my_list.append(10)
my_list.append(8)

print("  list after Adding new elements :", my_list)

  list after Adding new elements : [1, 2, 3, 4, 5, 6, 6, 11, 10, 8]

In [17]:
#ii)
my_list.reverse()


print("list after reversing elements:", my_list)

list after reversing elements: [8, 10, 11, 6, 6, 5, 4, 3, 2, 1]

In [18]:
result_list = my_list * 3       #select how many times you wish to multiplty the list


print("List displayed multiple times:", result_list)

List displayed multiple times: [8, 10, 11, 6, 6, 5, 4, 3, 2, 1, 8, 10, 11, 6, 6, 5, 4, 3, 2, 1, 8, 10, 11, 6, 6, 5, 4, 3, 2, 1]

In [19]:
my_list.sort()

print("Sorted List in ascending order:", my_list)

Sorted List in ascending order: [1, 2, 3, 4, 5, 6, 6, 8, 10, 11]

# 2.Write a python program to do in the tuples.
i)manipulte using tuples
ii)to add new elements to the end of the tuples
iii)to reverse elements in the list
iv)to display the  elements of the same tuple multiple times
v)to concatenate two tuples
vi)to sort the elements in the list in ascending order.

In [20]:

my_tuple = (1, 2, 3, 4, 5)

# i) Manipulate using tuples (tuples are immutable, so you can't change elements directly)
 

# ii)
new_element = 6
my_tuple = my_tuple + (new_element,)
print("Manipulated Tuple with new element:", my_tuple)

                      

# iii) 
reversed_tuple = tuple(reversed(my_tuple))
print("tuple after reversing elements:", reversed_tuple)

# iv) 
n = 3  # Number of times to display the tuple
result_tuple = my_tuple * n
print("tuple displayed multiple times:", result_tuple)

# v) 
tuple1 = (10, 11, 12)
tuple2 = (13, 14, 15)
concatenated_tuple = tuple1 + tuple2
print("Concatenated Tuples:", concatenated_tuple)

# vi) 
my_list = [5, 2, 1, 4, 3]
sorted_list = sorted(my_list)
print("Sorted List in ascending order:", sorted_list)

Manipulated Tuple with new element: (1, 2, 3, 4, 5, 6)
tuple after reversing elements: (6, 5, 4, 3, 2, 1)
tuple displayed multiple times: (1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)
Concatenated Tuples: (10, 11, 12, 13, 14, 15)
Sorted List in ascending order: [1, 2, 3, 4, 5]

# 3. Write a python program to implement the following using list.
i)Create a list with integers(minimum ten chracters)
ii)how to display the lst number in the list
iii)command for displying values from the list[0:4]
iv)command for displying values from the list[2:]
v)command for displying values from the list[:6]

In [28]:
# i)
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print( my_list)

# ii) 
last_number = my_list[-1]
print("Last number in the list:", last_number)

# iii) 
values_0_to_4 = my_list[0:4]
print("Values from index 0 to 4:", values_0_to_4)

# iv) 
values_from_index_2 = my_list[2:]
print("Values from index 2 to the end:", values_from_index_2)

# v)
values_up_to_index_6 = my_list[:6]
print("Values from the beginning up to index 6:", values_up_to_index_6)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Last number in the list: 10
Values from index 0 to 4: [1, 2, 3, 4]
Values from index 2 to the end: [3, 4, 5, 6, 7, 8, 9, 10]
Values from the beginning up to index 6: [1, 2, 3, 4, 5, 6]

# 4Write a Python program: tuple1 = (10, 50, 20, 40, 30) 

i) To display the elements 10 to 50 from tuple1 
ii) To dispaly the length of a tuple1 
iii) To find the minimum element from tuple1 
iv) To add all elements in the tuple1
 v) To display the same tuple1 multiple times

In [34]:

tuple1 = (10, 50, 20, 40, 30)
tuple1
(10, 50, 20, 40, 30)
#i) To display the elements 10 to 50 from tuple1

print(tuple1[0:2])

#ii) To dispaly the length of a tuple1

print(len(tuple1))

#iii) To find the minimum element from tuple1

print(min(tuple1))


#iv) To add all elements in the tuple1

print(sum(tuple1))

#v) To display the same tuple1 multiple times

print(tuple1*3)

(10, 50)
5
10
150
(10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5 Write a python program 
i) To calculate the length of a string 
ii) To reverse words in a string 
iii) To display the same string multiplate times 
iv) To concatenate two strings 
v) Str1="South India", using string slicing to display "India"

In [39]:

Str1="South India"

#i) To calculate the length of a string

print(len(Str1))

#ii) To reverse words in a string

Str1="South India"
reversed_Str1=Str1[::-1]
print(reversed_Str1)


#iii) To display the same string multiplate times

print(Str1*5)

#iv) To concatenate two strings

Str1="South India"
Str2="India"
res = Str1 + Str2
print(res)

#v) Str1="South India", using string slicing to display "India"

Str1="South India"
Str1[6:]

11
aidnI htuoS
South IndiaSouth IndiaSouth IndiaSouth IndiaSouth India
South IndiaIndia

'India'

# 6Perform the following : 
    i) Creating the Directory 
    ii) Accessing values and keys in the directory 
    iii) Updating the directory using a function 
    iv) Clear and delete the directory values

In [50]:

#i) Creating the Directory

student={'f_name':'rohit','l_name':'sharma','class':'8','city':'Mumbai'}
print(student)

#ii) Accessing values and keys in the directory

print(student.values())
print(student.keys())


#iii) Updating the directory using a function

print(student.update({'class': 6}))
print(student)


#iv) Clear and delete the directory values

print(student.pop('city'))

{'f_name': 'rohit', 'l_name': 'sharma', 'class': '8', 'city': 'Mumbai'}
dict_values(['rohit', 'sharma', '8', 'Mumbai'])
dict_keys(['f_name', 'l_name', 'class', 'city'])
None
{'f_name': 'rohit', 'l_name': 'sharma', 'class': 6, 'city': 'Mumbai'}
Mumbai

# 7Python program to insert a number to any position in the list

In [56]:
list=[2, 4 , 6, 8, 10]
list.insert(2,5)
print(list)

[2, 4, 5, 6, 8, 10]

# 8Python program to delete an element from a list by index

In [58]:

list=[1, 2, 3, 4, 5]

print(list.pop(4))

print(list)

5
[1, 2, 3, 4]

# 9 Write a program to display a number from 1 to 100

In [59]:

for i in range(1,101):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

#10WRITE A SIMPLE PYTHON PROGRAM TO WRITE THE SUM OF ALL ITEMS IN A TUPLE

In [1]:
my_tuple = (1, 2, 3, 4, 5)

total_sum = 0

for num in my_tuple:
    total_sum += num

print("Sum of all items in the tuple:", total_sum)

Sum of all items in the tuple: 15